:root {
    --mainFont: "Montserrat";
    --quoteFont: "Oooh Baby";
    --largestFont: 1.5em;
    --largeFont: 1.25em;
    --normalFont: 1em;
    --sentenceFont: 0.75em;
    --smallPrintFont: 0.5em;
    --colorPrimary: #011627;
    --colorSecondary: #8a817c;
    --colorTertiary: #F4f3ee;
    --colorAccent: #9A48D0;
}

#nav-action-item-list {
    flex: 1;
}
#nav-action-item-list > li {
    display: inline;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

#nav-action-item-list > li:not(:last-child) {
    margin: 0 36px 0 0;
}

.nav-icon {
    color: var(--colorTertiary);
    font-size: 1.25em;
    text-shadow: 1px 1px var(--colorPrimary);
    cursor: pointer;
}

.quote-text {
    font-family: var(--quoteFont);
}

.inline {
    display: inline;
}

.align-center {
    text-align: center;
}

#app-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
}

#main-page-container {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    align-items: center;
    background: var(--colorSecondary);
}

@keyframes animate-shop-button {
    from {
        box-shadow: none;
    }
    50% {
        border: 1px solid white;
        box-shadow: 2px 2px 0px 0px #011627
    }
    to {
        border: 2px solid white;
        box-shadow: 4px 4px 0px 0px #011627;
    }
}


#landing-image {
    background: url("../images/void-background.jpeg");
    background-size: cover;
    width: 100%;
    height: 50vh;
    margin: 0 0 48px 0;
    position: relative;
}

.void-segment {
    color: white;
    position: absolute;
    font-family: var(--mainFont);
    padding: 16px;
    max-width: 30%;
    line-height: 1.5em;
    background: var(--colorPrimary);
}

.void-text {
    position: absolute;
    top: 10%;
    text-align: center;
    width: 100%;
}

.void-one {
    bottom: 5%;
    left: 2%;
}

.void-two {
    bottom: 5%;
    right: 2%;
}

#landing-heading {
    font-family: var(--quoteFont);
    color: white;
    font-size: 5rem;
    animation-name: spring-text;
    animation-duration: 3s;
    animation-direction: normal;
    animation-iteration-count: 1;
}

@keyframes spring-text {
    from {
        transform: scale(1.5);
        
    }
    25% {
        transform: scale(2);
    }
    50% {
        transform: scale(0.75);
        
    }
    75% {
        transform: scale(1.5);
    }
    to {
        transform: scale(1);
    }
}


@keyframes text-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#card {
    margin: 48px 0 48px 0;
    width: 560px;
    height: 720px;
    background: var(--colorPrimary);    
}


#card > p {
    color: var(--colorTertiary);
    font-family: var(--mainFont);
    max-width: 75%;
    line-height: 1.5em;
    padding: 16px 32px 16px 32px;
    max-lines: 4;
    text-overflow: ellipsis;
}

#card > img {
    max-height: 380px;
    min-height: 380px;
    background-size: "cover" 
}

.product-header {
    padding: 16px 32px 0 32px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.product-header > h2 {
    margin-bottom: 0px;
    font-family: var(--mainFont);
    font-size: 2em;
    color: var(--colorTertiary);
    letter-spacing: 0.075em;
}

.qty-buy {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

#qty-container {
    border: 1px solid white;
}

#qty-container > span {
    color: white;
    padding: 0 8px 0 8px;
    font-family: var(--mainFont);
}

.product-collection-container {
    margin: 24px 0 0 0;
    padding: 32px;
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.product-collection-container > #card:not(:last-child) {
    margin: 0 96px 0 0;
}

.react-router-link {
    text-decoration: none;
    color: white;
}

.no-decoration {
    text-decoration: none;
    text-decoration-color: none;
}

.signin-container {
    padding: 64px;
    margin: 240px;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid white;
    position: relative;
    border-radius: 4px;
}

#basket-grid {
    grid-template-columns: 200px 1fr 140px 140px;
    display: grid;
    padding: 200px;  
    gap: 20px 40px;
    margin: 80px 100px 80px 100px;
    font-family: var(--mainFont);
    font-size: var(--mainFont);
    color: white;
    border: 2px solid
}


#basket-grid > h1 {
    text-decoration: underline;
}


#basket-grid > p {
    text-decoration: none;
    font-size: var(--normalFont);
}

#basket-page {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    width: 100%;    
}

#payment-form {
    align-self: center;
    width: 380px;
    margin: 280px 0 0 0;
    border: 1px solid var(--colorTertiary);
    padding: 24px;
}

.payment-form-headers {
    font-size: var(--largeFont);
    font-family: var(--mainFont);
    color: var(--colorTertiary);
    text-shadow: 1px 2px var(--colorPrimary)
}

#payment-submit-btn {
    width: 100%;
    height: 40px;
    margin: 16px 0 0 0;
    font-size: 1.25em;
    font-family: Montserrat;
    padding: 16px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    box-shadow: 4px 4px 0px 0px #011627;
    letter-spacing: 0.08em;
    animation-name: animate-shop-button;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#spinner {
    border-radius: 50%;
    border-top: 5px solid black;
    border-right: none;
    border-bottom: 5px solid white;
    height: 200px;
    width: 200px;
    margin-top: 20%;
    position: relative;
    box-shadow: 1px 1px var(--colorPrimary);
    animation-name: rotate-spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal; 
    opacity: 1;
}

#spinner > i {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: scale(2);
    color: white;
}

@keyframes rotate-spinner {
    from {
        opacity: 1;
        transform: rotate(0deg);
    }
    50% {
        opacity: 0.5;
    }
    to {
        opacity: 1;
        transform: rotate(360deg);
    }
}

.confirmation-heading {
    margin: 120px 0 60px 0;
    font-family: var(--mainFont);
    font-size: 4em;
    color: white;
}

#checkout-success-container > p {
    margin-bottom: 10px;
    color: white;
    font-size: var(--largestFont);
    font-family: var(--mainFont);
}

#item-summary-list {
    margin: 20px 0 60px 0;
    list-style-type: square;
    color: var(--colorTertiary);
    font-family: var(--mainFont);
    font-size: var(--largeFont);
}

#thank-you-msg {
    margin: 120px 0 0 0;
    font-family: var(--quoteFont);
    color: white;
    font-size: 5rem;
    animation-name: text-flicker;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes text-flicker {
    from {
        color: indianred;
    }
    50% {
        color: aquamarine;
    }
    to {
        color: cornflowerblue;
    }
}

.sign-toast {
    background: var(--colorPrimary);
    color: white;
    border-radius: 12px;
    padding: 16px;
    opacity: 1;
    animation-fill-mode: forwards;
    font-family: var(--mainFont);
    font-size: var(--largeFont);
    animation-name: fade-out-toast;
    animation-duration: 6s;
    animation-direction: normal;
    animation-iteration-count: 1;
}

@keyframes fade-out-toast {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.failed-signin {
    animation-name: incorrect-password;
    animation-duration: 4s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes incorrect-password {
    from {
        background-color: red;
    }
    to {
        background-color: transparent;
    }
}

.quantity-column {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.quantity-column > button {
    background-color: transparent;
    border: none;
    color: var(--colorTertiary);
}


.empty-basket-container {
    margin: 400px auto 0 auto;
    font-size: 2rem;
    font-family: var(--mainFont);
    color: white;
    font-size: 2.5em;
    text-align: center;
    line-height: 5rem;
}